# Backend (Python / FastAPI)
backend/venv/
backend/app/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
*.pyc
.env

# Node dependencies
node_modules/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend (React Native / Expo)
# dependencies
frontend/node_modules/
# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/.env
frontend/expo-env.d.ts
.expo/


# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
frontend/ios
frontend/android

# ---------------------------
# Configurações Locais de Editor 

.vscode/.react/
.vscode/project.xcworkspace/

# Ambiente virtual
backend/.venv
backend/venv
.venv
venv